.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    
}
.sidebar.hidden {
    display: none;
}
textarea {
    width: 100%;
    height: 700px;
    margin-top: 10px 0;
}
#closeBtn {
    position: absolute;
    top: 35px;
    right: 35px;
    background-color: rgb(201, 201, 201);
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}